In [1]:
# SQLite aur Pandas import kar rahe hain
import sqlite3
import pandas as pd

In [2]:
# Database se connection establish kar rahe hain
# Ye bilkul wahi hai jo PDF mein diya gaya hai
conn = sqlite3.connect("db.sqlite")

In [3]:
# Demo table create kar rahe hain
conn.execute("""
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER,
    age INTEGER,
    churn INTEGER
)
""")

In [4]:
# Sample data insert kar rahe hain
conn.execute("INSERT INTO users VALUES (1, 30, 0)")
conn.execute("INSERT INTO users VALUES (2, 45, 1)")
conn.commit()

In [5]:
# SQL query ke through data read kar rahe hain
# EXACTLY like PDF example
df_sql = pd.read_sql("SELECT * FROM users", conn)

In [6]:
df_sql.head()

   user_id  age  churn
0        1   30      0
1        2   45      1

In [7]:
# Connection close kar rahe hain
conn.close()